body {
  background-color: rgb(148, 148, 148);
}

.footer {
  bottom: 0;
}

.filter-white {
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(104%);
  }

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
}

.form-control,
.form-control:hover,
.form-control:focus {
  background-color: #333;
  color: #ffffff;
}

.form-control:disabled {
  color: black;
}