<div class="container-fluid footer bg-dark mt-auto">
    <div class="row text-center">
        <p class="my-3"><a href="https://github.com/vitusan" class="text-white">Victor Andrade© 2021</a></p>
    </div>
</div>