<% layout('layouts/login')%>
    <div class="d-flex w-100 h-100 row align-items-center justify-content-center">
        <main class="px-3">
            <h1>Credenciais inválidas!</h1>
            <h3 class="lead mt-5">Tente logar com usuário: <strong><%= credentials.username %></strong>, senha: <strong><%= credentials.password %></strong>.
            </h3>
            <h3 class="lead">
                <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-white mt-5">Voltar</a>
            </h3>
        </main>
        <footer class="mt-auto text-white-50">
            <p><a href="https://github.com/vitusan" class="text-white">Victor Andrade© 2021</a></p>
        </footer>